@import "Myy";
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1240px;
  }
}
@media (max-width: 767px) {
  .navbar-link{
    display: none;
  }
}

@media (max-width: 375px) {
  .boll-3{

  }
  .boll-2{
top:150px;

  }
  .boll-1{
    top:394px;
    left:-25px;

  }



  .First-Section{
    .container{
      h1{
        font-size: 28px;
      }
      p{
        @include Styles(400, 14px, 0.01em, none, #e2e2e2);
        line-height:171%;
      }
      a{
        @include Styles(700, 12px, 0.01em, none, #0d0d0d);
        line-height: 150%;
        padding: 10px 35px;
      }
    }
  }
}

@media (max-width: 375px) {
  .Second-Section{
    padding-bottom: 99px;
    .container{
      padding-bottom: 30px;
      &::before{
        left: 250px;
      }
      &::after{
        left: 20px;
      }
      .Response-2.position-absolute{
        right: 0;
        padding: 15px 0 11px 0;
        img{
          margin: 0 10px 0 20px;
        }
        p{
          margin-left: 20px;
          margin-right: 10px;
          @include Styles(400, 7px, 0.01em, none, #e2e2e2);
        }
        .Response-2-Title{

          h3{
            @include Styles(600, 5px, 0.01em, none, #e2e2e2);
            line-height: 0;
            span{
              @include Styles(600, 3px, 0.01em, none, #e2e2e2);
            }
          }
        }
      }
      .Response.position-absolute{
        left: 5px;
        top: 0;
        padding:7px 10px 15px 10px;
        p{
          @include Styles(700, 6px, 0.01em, none, #e2e2e2);
          margin-bottom: 6px;
          &::before{
            position: relative;
            top:5px;
            content: "";
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-right: 5px;
            background-image: url("../Images/mobilestar.svg");
          }
        }
        span{
          @include Styles(700, 12px, 0.01em, none, #e2e2e2);
        }
      }
    }
  }
}


@media (max-width: 375px) {
  .Third-Section{
    .container{
padding-bottom: 30px;
      h3{
        @include Styles(600, 14px, 0.01em, none, #e2e2e2);
      }
      h2{
        @include Styles(700, 24px, 0em, none, #e2e2e2);
      }
     .row.featurette{

       .featurette{
         margin-bottom: 50px;
         .lead{
           @include Styles(700, 14px, 0.01em, none, #e2e2e2);
         }
         .btn.btn-light{
           @include Styles(700, 12px, 0.01em, none, #0d0d0d);
           line-height: 150%;
           padding: 10px 35px;
         }
         .btn.btn-link{
           @include Styles(700, 12px, 0.01em, none, #e2e2e2);
           line-height: 150%;
           padding: 11px 35px;
           &::before{
             position: relative;
             top: 3px;
             content: "";
             width: 16px;
             height: 16px;
             display: inline-block;
             margin-right: 10px;
             background-image: url("../Images/play-circle-sm.svg");
           }
         }
       }
     }
    }
  }
}

@media (max-width: 375px) {
  .Section-Four{
    .container{
      .row{
       .left-container{
         margin: 0 0 23px 0;
       h3{
         @include Styles(600, 14px, 0.01em, none, #e2e2e2);
       }
         h2{
           @include Styles(700, 24px, 0em, none, #e2e2e2);
         }
         p{
           @include Styles(400, 14px, 0.01em, none, #e2e2e2);
           line-height: 171%;
           margin: 0 0 4px 0;
         }
         a{
           @include Styles(700, 14px, 0.01em, none, #e2e2e2);
           &::after{
             content: "";
             width: 24px;
             height: 20px;
             display: inline-block;
             position: relative;
             top: 4px;
             background-image: url("../Images/arrow-rigth-sm.svg");
           }
         }
       }
      }
    }
  }
}


@media (max-width: 375px) {
  .Fifth-Section{
    .container{
      h3{
        @include Styles(600, 14px, 0.01em, none, #e2e2e2);
      }
      h2{
        @include Styles(700, 24px, 0em, none, #e2e2e2);
        margin-bottom: 34px;
      }
      p{
        @include Styles(400, 14px, 0.01em, none, #e2e2e2);
        line-height: 171%;
      }
      .row.d-flex{
        &::before{
          display: none;
        }
        &::after{
          display: none;
        }
        .col-xl-4.col-10{
          margin-bottom: 50px;
        }
      }
      .btn.btn-link{
        @include Styles(700, 16px, 0.01em, none, #e2e2e2);
        line-height: 150%;
      }
    }
  }
}


@media (max-width: 375px) {
  .Sixth-Section{
    .container{
      h3{
        @include Styles(600, 14px, 0.01em, none, #e2e2e2);
      }
      h2{
        @include Styles(700, 24px, 0em, none, #e2e2e2);
      }
    }
  }
}

@media (max-width: 996px) {
  .row.justify-content-between.text-start{
    display: none;
  }
  .carousel{
    .carousel-inner{
      .carousel-item{
        width: 100%;
        margin-right: -100%;
        transition: transform 1.5s ease;

        .row{
          padding: 40px 0 40px 0;
        .col-md-8{
          p{
            @include Styles(600, 16px, 0.01em, none, #e2e2e2);

            span{
              @include Styles(400, 10px, 0em, none, #e2e2e2);
              opacity: 0.5;
            }
          }
          blockquote{

          }
        }
        }
      }
    }
  }
}
