@import "Myy";

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1240px;
  }
}

@media (max-width: 1400px) {
  .Seventh-Section {
    .container {
      .row.justify-content-between {
        .col-xl-3.col-lg-3.col-md-10.position-relative {
          left: -6%;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(24px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(55px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {
        box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
        background: #0b0f15;
        border-radius: 20px;
        padding: 55px 0 70px 0;

        .carousel-text {
          @include Styles(25px, 0.01em, none, #e2e2e2);
          line-height: 100%;
          font-weight: 600;
          font-family: "Quicksand-Regular", sans-serif;
          margin: 1px 0 0 32px;

          span {
            @include Styles(14px, 0.01em, none, #e2e2e2);
            line-height: 109%;
            opacity: 0.5;
            font-weight: 400;
            font-family: "Quicksand-Regular", sans-serif;
          }
        }

        .text-slide {
          margin: 15px 0 0 30px;
        }

        .quote {
          @include Styles(25px, 0.01em, none, #e2e2e2);
          line-height: 156%;
          opacity: 0.8;
          font-weight: 400;
          font-family: "Quicksand-Regular", sans-serif;
          max-width: 400px;
          margin: 0 0 0 50px;
        }
      }
    }
  }
  .carousel-inner {

    .carousel-item {

      .carousel-info {
        margin: 0 0 35px 0;
      }
    }
  }

}


@media (max-width: 1200px) {
  .Seventh-Section {
    .container {
      .row.justify-content-between {
        .col-xl-3.col-lg-3.col-md-10.position-relative {
          left: 1%;
          top: -35px;
        }
      }
    }
  }
}

@media(min-width: 992px) {
  .carousel-inner {
    overflow: visible;

    .carousel-item {
      float: none;
      display: block;
      margin: 0 0 40px 0;

      .carousel-info {
        margin: 0 0 70px 0;
      }
    }
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}


@media (max-width: 992px) {
  .First-Section {
    .container {
      .first__section-title {
        font-size: 56px;
      }

      p {
        font-size: 18px;
      }

      .btn.btn-light {
        font-size: 15px;
      }
    }
  }
}


@media (max-width: 992px) {
  .Second-Section {
    .container {
      .Response.position-absolute {
        top: 5%;
        left: 0;
      }

      .Response-2.position-absolute {
        right: 0;
      }
    }
  }
}


@media (max-width: 992px) {
  .Third-Section {
    .container {
      h3 {
        font-size: 22px;
      }

      h2 {
        font-size: 52px;
      }
    }
  }
}


@media (max-width: 992px) {
  .Third-Section {
    .row.featurette {
      .featurette {
        margin-top: 35px;

        .lead {
          font-size: 18px;
          margin-bottom: 25px;
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .Section-Four {
    .container {
      .left-container {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 992px) {
  .Fifth-Section {
    .btn.btn-link {
      margin-top: 65px;
    }
  }
}

@media (max-width: 992px) {
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(24px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(55px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {
        box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
        background: #0b0f15;
        border-radius: 20px;
        padding: 55px 0 70px 0;

        .carousel-text {
          @include Styles(20px, 0.01em, none, #e2e2e2);
          line-height: 100%;
          font-weight: 600;
          font-family: "Quicksand-Regular", sans-serif;
          margin: 1px 0 0 32px;

          span {
            @include Styles(11px, 0.01em, none, #e2e2e2);
            line-height: 109%;
            opacity: 0.5;
            font-weight: 400;
            font-family: "Quicksand-Regular", sans-serif;
          }
        }

        .text-slide {
          margin: 15px 0 0 30px;
        }

        .quote {
          @include Styles(18px, 0.01em, none, #e2e2e2);
          line-height: 156%;
          opacity: 0.8;
          font-weight: 400;
          font-family: "Quicksand-Regular", sans-serif;
          max-width: 300px;
          margin: 0 0 0 60px;
        }
      }
    }

    .carousel-info {
      margin: 0 0 30px 0;
    }
  }

}

@media (max-width: 768px) {
  .Second-Section {
    .container {
      .Response.position-absolute {
        left: 20px;
      }

      .Response-2.position-absolute {
        right: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Third-Section {
    .container {
      &::before {
        content: "";
        position: absolute;
        width: 98px;
        height: 70px;
        top: 140px;
        left: 40px;
        z-index: -1;
        background-image: url(../../src/assets/Images/orange-dotss.svg);
      }

      &::after {

        display: none;
        background-image: url(../../src/assets/Images/purple-dots.svg);
      }
    }
  }

}

@media (max-width: 768px) {
  .First-Section {
    .container {
      .first__section-title {
        font-size: 46px;
      }
    }
  }
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(21px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(55px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {
        box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
        background: #0b0f15;
        border-radius: 20px;
        padding: 55px 0 70px 0;

        .carousel-text {
          @include Styles(17px, 0.01em, none, #e2e2e2);
          line-height: 100%;
          font-weight: 600;
          font-family: "Quicksand-Regular", sans-serif;
          margin: 1px 0 0 20px;

          span {
            @include Styles(9px, 0.01em, none, #e2e2e2);
            line-height: 109%;
            opacity: 0.5;
            font-weight: 400;
            font-family: "Quicksand-Regular", sans-serif;
          }
        }

        .text-slide {
          margin: 15px 0 0 20px;
        }

        .quote {
          @include Styles(17px, 0.01em, none, #e2e2e2);
          line-height: 156%;
          opacity: 0.8;
          font-weight: 400;
          font-family: "Quicksand-Regular", sans-serif;
          max-width: 300px;
          margin: 0 0 0 70px;
        }
      }
    }

    .carousel-info {
      margin: 0 0 20px 0;
    }
  }
  .carousel-control-prev {
    left: -30px;
  }
  .carousel-control-next {
    right: -30px;
  }

}

@media (min-width: 576px) {
  .nav-btn {
    display: none;
  }
  #nav {
    display: none;
  }
}

@media (max-width: 576px) {
  header {
    .container {
      display: none;
    }
  }
;
  .nav__link.menu{
   left: 33%;
  }
  .nav__link.menu:nth-of-type(3){
    left: 28%;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: none;
    background: black;
    position: absolute;
    left: 48%;

    .navbar-nav {
      display: flex;
      gap: 0;

      .nav-item {
        width: 20%;
      }
    }
  }
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(18px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(46px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {
        box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);

        .carousel-text {
          @include Styles(21px, 0.01em, none, #e2e2e2);
          margin: 1px 0 0 20px;

          span {
            @include Styles(11px, 0.01em, none, #e2e2e2);
          }
        }

        .text-slide {
          margin: 15px 0 0 20px;
        }

        .quote {
          @include Styles(16px, 0.01em, none, #e2e2e2);
          max-width: 300px;
          margin: 0 0 0 65px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar-link {
    display: none;
  }
}

@media (max-width: 464px) {
  .nav__link.menu{
    font-size: 47px;
  }
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(18px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(46px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {

        .carousel-text {
          @include Styles(18px, 0.01em, none, #e2e2e2);
          margin: 1px 0 0 10px;

          span {
            @include Styles(11px, 0.01em, none, #e2e2e2);
          }
        }

        .text-slide {
          margin: 15px 0 0 20px;
        }

        .quote {
          @include Styles(13px, 0.01em, none, #e2e2e2);
          max-width: 220px;
          margin: 0 0 0 30px;
        }
      }
    }
  }
}

@media (max-width: 431px) {
  .Sixth-Section {
    .container {

      .carousel-user {

        .carousel-text {


          span {
          }
        }

        .text-slide {
        }

        .quote {
          margin: 0 0 0 80px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .boll-3 {
  }
  .boll-2 {
    top: 150px;
  }
  .boll-1 {
    top: 394px;
    left: -25px;
  }

  .First-Section {
    .container {
      h1 {
        font-size: 28px;
      }

      p {
        @include Styles(14px, 0.01em, none, #e2e2e2);
        line-height: 171%;
      }

      a {
        @include Styles(12px, 0.01em, none, #0d0d0d);
        line-height: 150%;
        padding: 10px 35px;
      }
    }
  }

}

@media (max-width: 375px) {
  .Second-Section {
    padding-bottom: 99px;

    .container {
      padding-bottom: 30px;

      .boll-3 {
        display: none;
      }

      &::before {
        left: 220px;
      }

      &::after {
        left: 20px;
      }

      .Response-2.position-absolute {
        right: 0;
        padding: 15px 0 11px 0;

        img {
          margin: 0 10px 0 20px;
        }

        p {
          margin-left: 20px;
          margin-right: 10px;
          @include Styles(7px, 0.01em, none, #e2e2e2);
        }

        .Response-2-Title {
          h3 {
            @include Styles(5px, 0.01em, none, #e2e2e2);
            line-height: 0;

            span {
              @include Styles(3px, 0.01em, none, #e2e2e2);
            }
          }
        }
      }

      .Response.position-absolute {
        left: 5px;
        top: 0;
        padding: 7px 10px 15px 10px;

        p {
          @include Styles(6px, 0.01em, none, #e2e2e2);
          margin-bottom: 6px;

          &::before {
            position: relative;
            top: 5px;
            content: "";
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-right: 5px;
            background-image: url("../../src/assets/Images/mobilestar.svg");
          }
        }

        span {
          @include Styles(12px, 0.01em, none, #e2e2e2);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Third-Section {
    .container {
      padding-bottom: 30px;

      &::after {
        z-index: -1;
        bottom: -20px;
        left: 182px;
        content: "";
        position: absolute;
        width: 98px;
        height: 70px;
        background-image: url(../../src/assets/Images/purple-dots.svg);
      }

      h3 {
        @include Styles(14px, 0.01em, none, #e2e2e2);
      }

      h2 {
        @include Styles(24px, 0em, none, #e2e2e2);
      }

      .row.featurette {
        .featurette {
          margin-bottom: 50px;

          .lead {
            @include Styles(14px, 0.01em, none, #e2e2e2);
          }

          .btn.btn-light {
            @include Styles(12px, 0.01em, none, #0d0d0d);
            line-height: 150%;
            padding: 10px 35px;
          }

          .btn.btn-link {
            @include Styles(12px, 0.01em, none, #e2e2e2);
            line-height: 150%;
            padding: 11px 35px;

            &::before {
              position: relative;
              top: 3px;
              content: "";
              width: 16px;
              height: 16px;
              display: inline-block;
              margin-right: 10px;
              background-image: url("../../src/assets/Images/play-circle-sm.svg");
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Section-Four {
    .container {
      .row {
        .left-container {
          margin: 0 0 23px 0;

          h3 {
            @include Styles(14px, 0.01em, none, #e2e2e2);
          }

          h2 {
            @include Styles(24px, 0em, none, #e2e2e2);
          }

          p {
            @include Styles(14px, 0.01em, none, #e2e2e2);
            line-height: 171%;
            margin: 0 0 4px 0;
          }

          a {
            @include Styles(14px, 0.01em, none, #e2e2e2);

            &::after {
              content: "";
              width: 24px;
              height: 20px;
              display: inline-block;
              position: relative;
              top: 4px;
              background-image: url("../../src/assets/Images/arrow-rigth-sm.svg");
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Fifth-Section {
    .container {
      h3 {
        @include Styles(14px, 0.01em, none, #e2e2e2);
      }

      h2 {
        @include Styles(24px, 0em, none, #e2e2e2);
        margin-bottom: 34px;
      }

      p {
        @include Styles(14px, 0.01em, none, #e2e2e2);
        line-height: 171%;
      }

      .row.d-flex {
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        .col-xl-4.col-10 {
          margin-bottom: 50px;
        }
      }

      .btn.btn-link {
        @include Styles(16px, 0.01em, none, #e2e2e2);
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 375px) {
  .Sixth-Section {
    .container {
      h3 {
        @include Styles(18px, 0.01em, none, #e2e2e2);
        line-height: 100%;
        margin-bottom: 20px;
      }

      h2 {
        @include Styles(46px, 0em, none, #e2e2e2);
        margin-bottom: 50px;
      }

      .carousel-user {

        .carousel-text {
          @include Styles(18px, 0.01em, none, #e2e2e2);
          margin: 1px 0 0 10px;

          span {
            @include Styles(11px, 0.01em, none, #e2e2e2);
          }
        }

        .text-slide {
          margin: 15px 0 0 20px;
        }

        .quote {
          @include Styles(13px, 0.01em, none, #e2e2e2);
          max-width: 220px;
          margin: 0 0 0 30px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Seventh-Section {
    .container {
      .row.justify-content-between {
        .col-xl-3 {
          h2 {
            font-size: 44px;
          }
        }
      }

      .col-xl-3 {
        .img-fluid {
          max-width: 80%;
        }

        &::after {
          content: "";
          display: none;
          position: absolute;
          width: 210px;
          height: 70px;
          top: 290px;
          left: 0;
          z-index: -1;
          background-image: url(../../src/assets/Images/orange-multiple-dots.png);
        }
      }
    }
  }

}

@media (max-width: 996px) {
  .row.justify-content-between.text-start {
    display: none;
  }
  .carousel {
    .carousel-inner {
      .carousel-item {
        width: 100%;
        margin-right: -100%;
        transition: transform 1.5s ease;

        .row {
          padding: 40px 0 40px 0;

          .col-md-8 {
            p {
              @include Styles(16px, 0.01em, none, #e2e2e2);

              span {
                @include Styles(10px, 0em, none, #e2e2e2);
                opacity: 0.5;
              }
            }

            blockquote {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar-toggler {
    display: block;
  }
  .collapse {
    display: none;
  }
  .navbar.navbar-expand-lg {
    display: none;
  }


}

@media (max-width: 996px) {
  .navbar-nav {
    display: none;
  }
}

@media (min-width: 576px) {
  .navbar-brand.navbar-menu {
    display: none;
  }
}