@charset "UTF-8";
@font-face {
  font-family: "Nunito-Bold";
  src: url("../../src/assets/Fonts/Nunito/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("../../src/assets/Fonts/Nunito/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("../../src/assets/Fonts/Nunito/Nunito-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../../src/assets/Fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../src/assets/Fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../src/assets/Fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../../src/assets/Fonts/Quicksand-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../../src/assets/Fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background: black;
  overflow-x: hidden;
  padding: 0;
}

.navbar-nav {
  gap: 50px;
}

.navbar.navbar-expand-lg.justify-content-lg-center {
  visibility: visible;
  opacity: 1;
}

.nav-link {
  font-family: "Quicksand-Bold";
  font-size: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #e2e2e2;
  line-height: 133%;
}
.nav-link:hover {
  color: #377dff;
}

.navbar-link {
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  text-decoration: none;
  border: 1px solid #e2e2e2;
  border-radius: 24px;
  padding: 12px 50px;
  line-height: 150%;
}
.navbar-link:hover {
  background: white;
  color: #0d0d0d;
}

.boll-1 {
  border-radius: 100%;
  fill: 180deg, rgba(68, 133, 255, 0.8) 0%, #377dff 100%;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 433px;
  left: 93px;
  display: none;
}

.boll-2 {
  display: none;
  border-radius: 100%;
  fill: 180deg, #ff8e8e 0%, #f62424 100%;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 287px;
  right: -37px;
}

.First-Section {
  padding-top: 68px;
}
.First-Section .container {
  max-width: 767px;
}
.First-Section .container h1 {
  font-size: 64px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}
.First-Section .container p {
  opacity: 0.6;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 150%;
  margin-bottom: 32px;
}
.First-Section .container a {
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #0e0e0e;
  line-height: 150%;
  border-radius: 24px;
  padding: 12px 50px;
  background: #e2e2e2;
  margin-bottom: 36px;
}
.First-Section .container a:hover {
  box-shadow: 0 4px 8px 0 rgba(55, 125, 255, 0.5);
}

.Second-Section {
  padding-top: 63px;
  padding-bottom: 213px;
}
.Second-Section .container {
  max-width: 739px;
  position: relative;
}
.Second-Section .container::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../../src/assets/Images/dotswhite.svg");
  height: 100px;
  width: 100px;
  left: 140px;
  top: -15px;
}
.Second-Section .container::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../../src/assets/Images/dotsred.svg");
  height: 100px;
  width: 100px;
  bottom: -15px;
  left: 175px;
}
.Second-Section .container .container-img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.Second-Section .container .boll-3 {
  position: absolute;
  top: 184px;
  left: -60px;
}
.Second-Section .container .Response-2 {
  padding: 27px 21px 25px 20px;
  right: -35px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  background: #0d0d0d;
  max-width: 166px;
  z-index: 2;
  border-radius: 16px;
}
.Second-Section .container .Response-2 img {
  margin-right: 10px;
}
.Second-Section .container .Response-2 .Response-2-Title h3 {
  font-size: 10px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  margin: 6px 0 0 0;
  line-height: 0;
}
.Second-Section .container .Response-2 .Response-2-Title span {
  font-size: 6px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  opacity: 0.5;
}
.Second-Section .container .Response-2 p {
  margin-top: 12px;
  font-size: 10px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
}
.Second-Section .container .Response {
  padding: 12px 0 16px 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
  background: #0d0d0d;
  border-radius: 16px;
  position: absolute;
  top: 24px;
  left: -90px;
  z-index: 2;
}
.Second-Section .container .Response p {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #e2e2e2;
  opacity: 0.5;
  margin: 0 32px 11px 20px;
}
.Second-Section .container .Response p::before {
  content: "";
  background-image: url("../../src/assets/Images/star.svg");
  display: inline-block;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
}
.Second-Section .container .Response span {
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #e2e2e2;
  margin: 0 31px 0 20px;
}

.Third-Section {
  padding-bottom: 150px;
}
.Third-Section .container::before {
  content: "";
  position: absolute;
  width: 98px;
  height: 70px;
  top: 140px;
  left: -10px;
  z-index: -1;
  background-image: url("../../src/assets/Images/orange-dotss.svg");
}
.Third-Section .container::after {
  z-index: -1;
  bottom: 10px;
  left: 482px;
  content: "";
  position: absolute;
  width: 98px;
  height: 70px;
  background-image: url("../../src/assets/Images/purple-dots.svg");
}
.Third-Section .container h3 {
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #e2e2e2;
  line-height: 100%;
  margin-bottom: 20px;
}
.Third-Section .container h2 {
  font-size: 55px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  margin-bottom: 38px;
}
.Third-Section .container .featurette .lead {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #e2e2e2;
  line-height: 160%;
  margin: 2px 0 14px 0;
}
.Third-Section .container .featurette .btn:nth-of-type(2) {
  margin-left: 25px;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #e2e2e2;
  line-height: 180%;
}
.Third-Section .container .featurette .btn:nth-of-type(2)::before {
  position: relative;
  top: 5px;
  margin-right: 10px;
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../../src/assets/Images/play-circle.svg");
}
.Third-Section .container .featurette .btn:first-of-type {
  padding: 12px 50px;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #0d0d0d;
}

.Section-Four {
  padding-bottom: 140px;
}
.Section-Four .container .row .left-container h3 {
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 100%;
  margin-bottom: 32px;
}
.Section-Four .container .row .left-container h2 {
  font-size: 55px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 130%;
  margin-bottom: 18px;
}
.Section-Four .container .row .left-container p {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 160%;
  margin-bottom: 36px;
}
.Section-Four .container .row .left-container a {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 170%;
  margin: 0 10px 0 0;
}
.Section-Four .container .row .left-container a:hover {
  box-shadow: 0 4px 8px 0 rgba(55, 125, 255, 0.5);
  color: #377dff;
}
.Section-Four .container .row .left-container a::after {
  position: relative;
  top: 6px;
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../../src/assets/Images/arrow-right.svg");
}
.Section-Four .container .row .right-container .row figure {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 35px 0 34px 0;
}
.Section-Four .container .row .right-container .row figure figcaption {
  margin: 32px 0 0 0;
}
.Section-Four .container .row .right-container .row figure:hover {
  box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.1);
  background: #0b0f15;
}

.Fifth-Section {
  padding-bottom: 140px;
}
.Fifth-Section .container h3 {
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 100%;
  margin-bottom: 20px;
}
.Fifth-Section .container h2 {
  font-size: 55px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  margin-bottom: 28px;
}
.Fifth-Section .container p {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 170%;
  margin-bottom: 50px;
}
.Fifth-Section .container .btn {
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 150%;
  padding: 12px 50px;
  margin: 30px 0 0 0;
}
.Fifth-Section .container .btn:hover {
  background: #e2e2e2;
  color: #0b0f15;
}
.Fifth-Section .container .d-flex {
  margin-bottom: 52px;
}
.Fifth-Section .container .d-flex::after {
  transform: rotate(-15deg);
  top: -40%;
  left: 95%;
  content: "";
  position: absolute;
  width: 98px;
  height: 70px;
  background-image: url("../../src/assets/Images/purple-dots.svg");
}
.Fifth-Section .container .d-flex::before {
  transform: rotate(15deg);
  z-index: -1;
  top: 15%;
  left: 35%;
  content: "";
  position: absolute;
  width: 98px;
  height: 70px;
  background-image: url("../../src/assets/Images/purple-dots.svg");
}
.Fifth-Section .container .d-flex .col-xl-4 {
  transition: 0.3s ease;
}
.Fifth-Section .container .d-flex .col-xl-4:hover {
  transform: scale(1.1);
}

.Sixth-Section {
  padding-bottom: 250px;
}
.Sixth-Section .container h3 {
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 100%;
  margin-bottom: 20px;
}
.Sixth-Section .container h2 {
  font-size: 55px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  margin-bottom: 50px;
}
.Sixth-Section .container .carousel-user {
  box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
  background: #0b0f15;
  border-radius: 20px;
  padding: 55px 0 70px 0;
}
.Sixth-Section .container .carousel-user .carousel-text {
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 100%;
  font-weight: 600;
  font-family: "Quicksand-Regular", sans-serif;
  margin: 1px 0 0 32px;
}
.Sixth-Section .container .carousel-user .carousel-text span {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 109%;
  opacity: 0.5;
  font-weight: 400;
  font-family: "Quicksand-Regular", sans-serif;
}
.Sixth-Section .container .carousel-user .text-slide {
  margin: 15px 0 0 30px;
}
.Sixth-Section .container .carousel-user .quote {
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 156%;
  opacity: 0.8;
  font-weight: 400;
  font-family: "Quicksand-Regular", sans-serif;
  max-width: 500px;
  margin: 0 0 0 45px;
}

.carousel-info {
  margin: 0 0 30px 0;
}

.Seventh-Section {
  padding-bottom: 180px;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3.position-relative.block {
  left: 15%;
  top: 35px;
  z-index: 5;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3.position-relative.block::before {
  content: "";
  position: absolute;
  width: 104px;
  height: 76px;
  top: -30px;
  left: -10px;
  z-index: -1;
  background-image: url("../../src/assets/Images/white-dotss.svg");
}
.Seventh-Section .container .row.justify-content-between .col-xl-3.position-relative.block-1 {
  left: 3%;
  top: -45px;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3.position-relative.block-1::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 70px;
  top: 290px;
  left: 0;
  z-index: -1;
  background-image: url("../../src/assets/Images/orange-multiple-dots.png");
}
.Seventh-Section .container .row.justify-content-between .col-xl-3 h2 {
  font-size: 55px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  margin-bottom: 25px;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3 p {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #e2e2e2;
  line-height: 170%;
  margin-bottom: 25px;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3 .btn {
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #0d0d0d;
  line-height: 150%;
  padding: 12px 50px;
}
.Seventh-Section .container .row.justify-content-between .col-xl-3 .btn:hover {
  box-shadow: 0 4px 8px 0 rgba(55, 125, 255, 0.5);
  background: #e2e2e2;
}

footer {
  background: #383638;
  padding-top: 132px;
}
footer .container .row {
  margin-bottom: 75px;
}
footer .container .row .col-xl-2 .row.bg-light.rounded-pill:hover {
  background: #0d0d0d;
  color: #377dff;
}
footer .container .row .col-xl-2 .row.bg-light.rounded-pill .col-xl-5 a svg:hover {
  animation: rotate-animation 2s ease-out infinite;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(720deg); /* Быстрое вращение на 720 градусов */
  }
  100% {
    transform: rotate(0deg); /* Остановка вращения */
  }
}
footer .container .row .col-xl-4 li {
  list-style: none;
  font-size: 22px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
}
footer .container .row .col-xl-4 li .text-decoration-none {
  font-size: 17px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
}
footer .container .row .col-xl-4 li .text-decoration-none:hover {
  color: #377dff;
}
footer .container .row .col-xl-2 li {
  list-style: none;
  font-size: 22px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
}
footer .container .row .col-xl-2 li .text-decoration-none {
  font-size: 17px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
}
footer .container .row .col-xl-2 li .text-decoration-none:hover {
  color: #377dff;
}
footer .d-flex.justify-content-center.gap-3.border-bottom {
  max-width: 500px;
  padding-bottom: 17px;
}
footer .last-item {
  font-size: 18px;
  letter-spacing: 0em;
  text-transform: none;
  color: #e2e2e2;
  padding-bottom: 33px;
  margin-top: 16px;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1240px;
  }
}
@media (max-width: 1400px) {
  .Seventh-Section .container .row.justify-content-between .col-xl-3.col-lg-3.col-md-10.position-relative {
    left: -6%;
  }
}
@media (max-width: 1200px) {
  .Sixth-Section .container h3 {
    font-size: 24px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 55px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user {
    box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
    background: #0b0f15;
    border-radius: 20px;
    padding: 55px 0 70px 0;
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 25px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    font-weight: 600;
    font-family: "Quicksand-Regular", sans-serif;
    margin: 1px 0 0 32px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 109%;
    opacity: 0.5;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 30px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 25px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 156%;
    opacity: 0.8;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
    max-width: 400px;
    margin: 0 0 0 50px;
  }
  .carousel-inner .carousel-item .carousel-info {
    margin: 0 0 35px 0;
  }
}
@media (max-width: 1200px) {
  .Seventh-Section .container .row.justify-content-between .col-xl-3.col-lg-3.col-md-10.position-relative {
    left: 1%;
    top: -35px;
  }
}
@media (min-width: 992px) {
  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner .carousel-item {
    float: none;
    display: block;
    margin: 0 0 40px 0;
  }
  .carousel-inner .carousel-item .carousel-info {
    margin: 0 0 70px 0;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}
@media (max-width: 992px) {
  .First-Section .container h1 {
    font-size: 56px;
  }
  .First-Section .container p {
    font-size: 18px;
  }
  .First-Section .container .btn.btn-light {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .Second-Section .container .Response.position-absolute {
    top: 5%;
    left: 0;
  }
  .Second-Section .container .Response-2.position-absolute {
    right: 0;
  }
}
@media (max-width: 992px) {
  .Third-Section .container h3 {
    font-size: 22px;
  }
  .Third-Section .container h2 {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .Third-Section .row.featurette .featurette {
    margin-top: 35px;
  }
  .Third-Section .row.featurette .featurette .lead {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  .Section-Four .container .left-container {
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .Fifth-Section .btn.btn-link {
    margin-top: 65px;
  }
}
@media (max-width: 992px) {
  .Sixth-Section .container h3 {
    font-size: 24px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 55px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user {
    box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
    background: #0b0f15;
    border-radius: 20px;
    padding: 55px 0 70px 0;
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    font-weight: 600;
    font-family: "Quicksand-Regular", sans-serif;
    margin: 1px 0 0 32px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 11px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 109%;
    opacity: 0.5;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 30px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 156%;
    opacity: 0.8;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
    max-width: 300px;
    margin: 0 0 0 60px;
  }
  .Sixth-Section .carousel-info {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 768px) {
  .Second-Section .container .Response.position-absolute {
    left: 20px;
  }
  .Second-Section .container .Response-2.position-absolute {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .Third-Section .container::before {
    content: "";
    position: absolute;
    width: 98px;
    height: 70px;
    top: 140px;
    left: 40px;
    z-index: -1;
    background-image: url(../../src/assets/Images/orange-dotss.svg);
  }
  .Third-Section .container::after {
    z-index: -1;
    bottom: -20px;
    left: 322px;
    content: "";
    position: absolute;
    width: 98px;
    height: 70px;
    background-image: url(../../src/assets/Images/purple-dots.svg);
  }
}
@media (max-width: 768px) {
  .First-Section .container h1 {
    font-size: 46px;
  }
  .Sixth-Section .container h3 {
    font-size: 21px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 55px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user {
    box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
    background: #0b0f15;
    border-radius: 20px;
    padding: 55px 0 70px 0;
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 17px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    font-weight: 600;
    font-family: "Quicksand-Regular", sans-serif;
    margin: 1px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 9px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 109%;
    opacity: 0.5;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 17px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 156%;
    opacity: 0.8;
    font-weight: 400;
    font-family: "Quicksand-Regular", sans-serif;
    max-width: 300px;
    margin: 0 0 0 70px;
  }
  .Sixth-Section .carousel-info {
    margin: 0 0 20px 0;
  }
  .carousel-control-prev {
    left: -30px;
  }
  .carousel-control-next {
    right: -30px;
  }
}
@media (min-width: 576px) {
  .nav-btn {
    display: none;
  }
  #nav {
    display: none;
  }
}
@media (max-width: 576px) {
  header .container {
    display: none;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: none;
    background: black;
    position: absolute;
    left: 48%;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    gap: 0;
  }
  .navbar-collapse .navbar-nav .nav-item {
    width: 20%;
  }
  .Sixth-Section .container h3 {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 46px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user {
    box-shadow: 0 8px 24px 0 rgba(163, 163, 163, 0.05);
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 21px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    margin: 1px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 11px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    max-width: 300px;
    margin: 0 0 0 65px;
  }
}
@media (max-width: 576px) {
  .navbar-link {
    display: none;
  }
}
@media (max-width: 464px) {
  .Sixth-Section .container h3 {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 46px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    margin: 1px 0 0 10px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 11px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 13px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    max-width: 220px;
    margin: 0 0 0 30px;
  }
}
@media (max-width: 431px) {
  .Sixth-Section .container .carousel-user .quote {
    margin: 0 0 0 50px;
  }
}
@media (max-width: 375px) {
  .boll-2 {
    top: 150px;
  }
  .boll-1 {
    top: 394px;
    left: -25px;
  }
  .First-Section .container h1 {
    font-size: 28px;
  }
  .First-Section .container p {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 171%;
  }
  .First-Section .container a {
    font-size: 12px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #0d0d0d;
    line-height: 150%;
    padding: 10px 35px;
  }
}
@media (max-width: 375px) {
  .Second-Section {
    padding-bottom: 99px;
  }
  .Second-Section .container {
    padding-bottom: 30px;
  }
  .Second-Section .container .boll-3 {
    display: none;
  }
  .Second-Section .container::before {
    left: 220px;
  }
  .Second-Section .container::after {
    left: 20px;
  }
  .Second-Section .container .Response-2.position-absolute {
    right: 0;
    padding: 15px 0 11px 0;
  }
  .Second-Section .container .Response-2.position-absolute img {
    margin: 0 10px 0 20px;
  }
  .Second-Section .container .Response-2.position-absolute p {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 7px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Second-Section .container .Response-2.position-absolute .Response-2-Title h3 {
    font-size: 5px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 0;
  }
  .Second-Section .container .Response-2.position-absolute .Response-2-Title h3 span {
    font-size: 3px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Second-Section .container .Response.position-absolute {
    left: 5px;
    top: 0;
    padding: 7px 10px 15px 10px;
  }
  .Second-Section .container .Response.position-absolute p {
    font-size: 6px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 6px;
  }
  .Second-Section .container .Response.position-absolute p::before {
    position: relative;
    top: 5px;
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    background-image: url("../../src/assets/Images/mobilestar.svg");
  }
  .Second-Section .container .Response.position-absolute span {
    font-size: 12px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
}
@media (max-width: 375px) {
  .Third-Section .container {
    padding-bottom: 30px;
  }
  .Third-Section .container::after {
    z-index: -1;
    bottom: -20px;
    left: 182px;
    content: "";
    position: absolute;
    width: 98px;
    height: 70px;
    background-image: url(../../src/assets/Images/purple-dots.svg);
  }
  .Third-Section .container h3 {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Third-Section .container h2 {
    font-size: 24px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Third-Section .container .row.featurette .featurette {
    margin-bottom: 50px;
  }
  .Third-Section .container .row.featurette .featurette .lead {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Third-Section .container .row.featurette .featurette .btn.btn-light {
    font-size: 12px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #0d0d0d;
    line-height: 150%;
    padding: 10px 35px;
  }
  .Third-Section .container .row.featurette .featurette .btn.btn-link {
    font-size: 12px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 150%;
    padding: 11px 35px;
  }
  .Third-Section .container .row.featurette .featurette .btn.btn-link::before {
    position: relative;
    top: 3px;
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../src/assets/Images/play-circle-sm.svg");
  }
}
@media (max-width: 375px) {
  .Section-Four .container .row .left-container {
    margin: 0 0 23px 0;
  }
  .Section-Four .container .row .left-container h3 {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Section-Four .container .row .left-container h2 {
    font-size: 24px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Section-Four .container .row .left-container p {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 171%;
    margin: 0 0 4px 0;
  }
  .Section-Four .container .row .left-container a {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Section-Four .container .row .left-container a::after {
    content: "";
    width: 24px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
    background-image: url("../../src/assets/Images/arrow-rigth-sm.svg");
  }
}
@media (max-width: 375px) {
  .Fifth-Section .container h3 {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Fifth-Section .container h2 {
    font-size: 24px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 34px;
  }
  .Fifth-Section .container p {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 171%;
  }
  .Fifth-Section .container .row.d-flex::before {
    display: none;
  }
  .Fifth-Section .container .row.d-flex::after {
    display: none;
  }
  .Fifth-Section .container .row.d-flex .col-xl-4.col-10 {
    margin-bottom: 50px;
  }
  .Fifth-Section .container .btn.btn-link {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 150%;
  }
}
@media (max-width: 375px) {
  .Sixth-Section .container h3 {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .Sixth-Section .container h2 {
    font-size: 46px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    margin-bottom: 50px;
  }
  .Sixth-Section .container .carousel-user .carousel-text {
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    margin: 1px 0 0 10px;
  }
  .Sixth-Section .container .carousel-user .carousel-text span {
    font-size: 11px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .Sixth-Section .container .carousel-user .text-slide {
    margin: 15px 0 0 20px;
  }
  .Sixth-Section .container .carousel-user .quote {
    font-size: 13px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
    max-width: 220px;
    margin: 0 0 0 30px;
  }
}
@media (max-width: 375px) {
  .Seventh-Section .container .row.justify-content-between .col-xl-3 h2 {
    font-size: 44px;
  }
  .Seventh-Section .container .col-xl-3 .img-fluid {
    max-width: 80%;
  }
  .Seventh-Section .container .col-xl-3::after {
    content: "";
    display: none;
    position: absolute;
    width: 210px;
    height: 70px;
    top: 290px;
    left: 0;
    z-index: -1;
    background-image: url(../../src/assets/Images/orange-multiple-dots.png);
  }
}
@media (max-width: 996px) {
  .row.justify-content-between.text-start {
    display: none;
  }
  .carousel .carousel-inner .carousel-item {
    width: 100%;
    margin-right: -100%;
    transition: transform 1.5s ease;
  }
  .carousel .carousel-inner .carousel-item .row {
    padding: 40px 0 40px 0;
  }
  .carousel .carousel-inner .carousel-item .row .col-md-8 p {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: none;
    color: #e2e2e2;
  }
  .carousel .carousel-inner .carousel-item .row .col-md-8 p span {
    font-size: 10px;
    letter-spacing: 0em;
    text-transform: none;
    color: #e2e2e2;
    opacity: 0.5;
  }
}
@media (max-width: 576px) {
  .navbar-toggler {
    display: block;
  }
  .collapse {
    display: none;
  }
  .navbar.navbar-expand-lg {
    display: none;
  }
}
@media (max-width: 996px) {
  .navbar-nav {
    display: none;
  }
}
@media (min-width: 576px) {
  .navbar-brand.navbar-menu {
    display: none;
  }
}

/*# sourceMappingURL=Media.css.map */
